<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Welcome 
    </title>
</head>
<body>
    <h1>Welcome to the Stock Dashboard</h1>
    <br>
    <form action = '/echopage' method="POST">
        <label for = "user_input">Your Ticker (e.g. AAPL, MSFT, NVDA):</label>
        <input type = 'text', id = "user_input", name = "user_input", placeholder = 'input a stock tick here'>
        <br><br>
        <input type="submit", value="Submit">

    </form>>
</body>
</html>